<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated rhythmML -->
      <package
            uri="http://www.polytech.unice.fr/rhythmML"
            class="rhythmML.RhythmMLPackage"
            genModel="model/rhythmML.genmodel"/>
   </extension>

</plugin>
